body{
   background-color:whitesmoke;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.background-container{
   background-color: white;
   width: 800px;
   margin: auto;
}
header{
   border: black 1px solid;
   height: auto;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
main{
   border: black 1px solid;
   height: auto;
   width: 100%;
}
.links-div{
   display: flex;
   justify-content: end;
   gap: 5px;
}
.page-links{
   text-decoration: none;
   padding: 10px 20px;
   border-radius: 5px;
   color: black;
   cursor: pointer;
   font-size: 20px;
   transition: box-shadow 0.3s ease,transform 0.3s ease;
}
.page-links:hover{
   box-shadow: 0 10 10 rgba(0,0,0, 0.8);
   transform: scale(1.05);
}
.shop-logo{
   display: block;
   width: 140px;
   height: auto;
}
.about-us-div{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}
p{
   width: 500px;
   margin-top: 10px;
   font-size: 18px;
   margin-bottom: 10px;
   line-height: 25px;
}
h1{
   font-size: 25px;
   margin: 0;
}
#list-button{
   margin-top: 20px;
   width: 130px;
   height: 30px;
   color: white;
   font-weight: bold;
   background-color: rgb(255, 77, 0);
   border: none;
   cursor: pointer;
   border-radius: 10px;
   transition: box-shadow 0.3 ease,transform 0.3 ease;
}
#list-button:hover{
   box-shadow: 0 10px 10px rgba(255, 77,0,0.8);
   transform: scale(1.05);
}
.page-image{
   width: 250px;
   height: auto;
   margin-right: 10px;
}

.text-block{
   max-width: 300px;
   margin: 10px;
}
#describe-list{
   list-style: none;
   margin-left: 0;
   padding-left: 0;  
}
#describe-list li{
   position: relative;
   padding-left: 25px;
   margin-bottom: 10px;
   font-size: 15px;
}
#describe-list li::before{
   content: "✔";
   color: rgb(255, 77,0);
   font-weight: bold;
   left: 0;
   position: absolute;
}