body{
   background-color:whitesmoke;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.background-container{
   background-color: white;
   width: 600px;
   margin: auto;
}
header{
   border: black 1px solid;
   height: auto;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
main{
   border: black 1px solid;
   height: auto;
   width: 100%;
}
.links-div{
   display: flex;
   justify-content: end;
   gap: 5px;
}
.page-links{
   text-decoration: none;
   padding: 10px 20px;
   border-radius: 5px;
   color: black;
   cursor: pointer;
   font-size: 20px;
   transition: box-shadow 0.3s ease,transform 0.3s ease;
}
.page-links:hover{
   box-shadow: 0 10 10 rgba(0,0,0, 0.8);
   transform: scale(1.05);
}
.shop-logo{
   display: block;
   width: 140px;
   height: auto;
}
.sneakers-example{
   width: 300px;
   height: auto;
   transform: scale(-1,1);
}
.describe-div{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding: 40px;
}
#main-title{
   font-size: 40px;
}
.text-block{
   max-width: 50%;
}
#describing-text{
   font-size: 18px;
   color: #555;
   margin: 15px 0;
}
#shop-now-button{
   width: 100px;
   height: 30px;
   color: white;
   font-weight: bold;
   background-color: rgb(255, 77, 0);
   border: none;
   border-radius: 10px;
   transition: box-shadow 0.3 ease,transform 0.3 ease;
}
#shop-now-button:hover{
   box-shadow: 0 10px 10px rgba(255, 77,0,0.8);
   transform: scale(1.05);
}
.container{
   display: flex;
   justify-content: center;
   gap: 40px;
   margin-bottom: 10px;
}
.main-goods{
   width: 120px;
   height: auto;
   background-color: rgb(197, 197, 197);
   cursor: pointer;
   border: none;
   transition: box-shadow 0.3s,transform 0.3s;
}
.main-goods:hover{
   box-shadow: 5px 5px 5px rgba(197, 197,197, 0.8);
   transform: scale(1.02);
}
.products{
   background-color: #fff;
   font-size: 11px;
   font-weight:100;
   border: 1px #ddd solid;
   border-radius: 10px;
   padding: 15px;
   text-align: center;
}
#sneakers-title{
   margin-left: 40px;
}
